<a class="btn btn-primary" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">This button won't Rick Roll you</a>

<div class="container">
    <div class="row">
        <div class="col-sm-6 border">
            <p>Good Content</p>
        </div>

        <div class="col-sm-3 border">
            <p>More Good Content</p>
        </div>

        <div class="col-sm-3 border">
            <p>More Good Content</p>
        </div>

        <div class="row">
            <div class="col-1 border"> <p>More Good Content</p></div>
   
            <div class="col-2 border"> <p>More Good Content</p></div>

            <div class="col-3 border"> <p>More Good Content</p></div>

            <div class="col-4 border"> <p>More Good Content</p></div>
        </div>
    </div>
</div>


@* Under the hood bootstrap uses media queries heavily. Media Queries are special pieces of CSS that wrap around certain CSS rules. 
They will check if the size of a web page is bigger or smaller than the query amount. If it matches the query's condition it will apply the styles 
within the media query. By their nature they are very guess n check.  You may use media queries anywhere CSS is welcome*@
