@model PeopleListing

@for(int i = 0; i < Model.results.Length; i++)
{
    int id = i + 1 + (Model.page - 2) * 10;
    <a asp-action="Result" asp-controller="Home" asp-route-id="@id"><p>@Model.results[i].name</p></a>
}

@if(Model.page < 10){
<a asp-action="PeopleList" asp-controller="Home" asp-route-page="@Model.page">Next Page @Model.page </a>
}