
<h2>{{movie.Title}}</h2>
<img src="{{movie.Poster}}"/>
<h3>Director: {{movie.Director}}</h3>

<div *ngIf="movie.Actors !== undefined && movie.Actors.length > 0">
    <h3>Actors</h3>
    <ul>
        <li *ngFor="let a of movie.Actors.split(',')"> {{a}}</li>
    </ul>
</div>

<p>Description; {{movie.Plot}}</p>
<a *ngIf="favorited" [routerLink]="['/Edit',movie.id]">Edit Favorite - this edits what's in the database, this view however displays what's coming from the api</a>

<button *ngIf="!favorited; else deleteButton" (click)="favoriteMovie()">Favorite {{movie.Title}}</button>

<ng-template #deleteButton>
    <button (click)="deleteFavorite()">Delete {{movie.Title}} from favorites</button>
</ng-template>