<h2>Look up star wars character by Id</h2>

<form asp-action="Result" asp-controller="Home">
    <p>Id:</p>
    <input type="number" min="1" max="90" name="id"/>
    <input type="submit" value="Search by Id"/>
</form>