<form asp-action="Add" asp-controller="Home">
    <p>Name</p>
    <input type="text" name="Name"/>
    <br/>
    <p>Breed</p>
    <input type="text" name="Breed"/>
    <br/>
    <p>Age</p>
    <input type="number" name="Age"/>
    <br/> 
    <p>Image URL</p>
    <input type="text" name="Img"/>
    <br/>
    <input type="submit"/>
</form>